/Retos MINTIC/nbproject/private/
/Retos MINTIC/build/
/AngularJSPhoneCat/nbproject/private/
/NodeJs test/nbproject/private/
/HTML5AppTest/nbproject/private/
/HTMLLEARN/nbproject/private/
/BackendMintic/nbproject/private/
/WebservicesMintic/target/
/WEBserviceMintic/target/
/RESTTEST/nbproject/private/
/RESTTEST/build/
/TESTweb/nbproject/private/
/CustomerDb/target/
