/Retos MINTIC/nbproject/private/
/Retos MINTIC/build/
/AngularJSPhoneCat/nbproject/private/
/NodeJs test/nbproject/private/
/HTML5AppTest/nbproject/private/
/HTMLLEARN/nbproject/private/
/BackendMintic/nbproject/private/
/WebservicesMintic/target/
/WEBserviceMintic/target/
/RESTTEST/nbproject/private/
/RESTTEST/build/
/TESTweb/nbproject/private/
/CustomerDb/target/
/Grupo38/dist/
/Grupo9/dist/
/Grupo53/dist/
/53Y38/nbproject/private/
/53Y38/build/
/Retos/nbproject/private/
